<div class="row">
  <div class="col text-center">
    <img src="/img/spongebob.png" class="img-thumbnail rounded-circle" alt="avatar">
    <h1 class="display-4">Rahul K</h1>
    <p class="lead">Gamer | Softwer Engineering</p>
  </div>
</div>